<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
	</head>
	<body>

		<h1 align="center" style="color:#ff0000">Details du rasberry</h1>
		<h3 align="center" style="color:#0000ff">{{ title }}</h3>
	</br>
	<div align="center">
	<a style="margin: auto; margin-right: 5%;" href="/gT/2020/temp">Voir Graph temp</a>
	<a style="margin: auto; margin-right: 5%;" href="/gT/2020/hum">Voir Graph humidité</a>
	<a style="margin: auto; " href="/gT/2020/pres">Voir Graph pression</a>
	</div>
	<hr>
		<table border="1" align="center"> 
			<tr>
				<td align="center">Temeprature</td>
				<td align="center">Humidite</td>
				<td align="center">Pression</td>
			</tr>
				<tr>
					<td>{{ temp }}</td>
					<td align="center">{{ humi }}</td>
					<td>{{ press }}</td>
				</tr>
		</table>
		<hr>
		Temperature : {{ temp }}
	</br>
		Humidite : {{ humi }}
	</br>
		Pression : {{ press }}

	<br>
	y= {{ y }}
	<br>
	y2 = {{ y2 }}
	<br>
	y4 = {{ y4 }}
	<br>
	y5 = {{ y5 }}
	<br>
	y6 = {{ y6 }}
	<br>
	y7 = {{ y7 }}
	</body>
</html>
<!-- 
	A recherche sur internet : 
		Courbe de temperature accesible via serveur web python  
-->